In [1]:
import pandas as pd
import numpy as np

In [3]:
NCAA_results=pd.read_csv('data/DataFiles/NCAATourneyCompactResults.csv')

In [4]:
NCAA_results.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [6]:
seedings = pd.read_csv('data/DataFiles/NCAATourneySeeds.csv')

In [7]:
seedings.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [47]:
def parse_seed(seed_string):
    
    return int(seed_string[1:3])

In [28]:
type(parse_seed('X09'))

int

In [53]:
df = (
    NCAA_results
    .merge(seedings,how='left',left_on=['Season','WTeamID'],right_on=['Season','TeamID'])
    .rename(columns={"Seed":"W_seed"})
    .merge(seedings,how='left',left_on=['Season','LTeamID'],right_on=['Season','TeamID'])
    .rename(columns={"Seed":"L_seed"})
    [['Season','WTeamID','W_seed','LTeamID','L_seed']]
    .assign()
    .pipe(lambda x:x.assign(W_seed = x.W_seed.apply(parse_seed)))
    .pipe(lambda x:x.assign(L_seed = x.L_seed.apply(parse_seed)))
)

In [54]:
df.head()

   Season  WTeamID  W_seed  LTeamID  L_seed
0    1985     1116       9     1234       8
1    1985     1120      11     1345       6
2    1985     1207       1     1250      16
3    1985     1229       9     1425       8
4    1985     1242       3     1325      14

In [55]:
df.to_csv('input/tour-results-seed.csv',index=False)

In [32]:
pd.pipe??

Object `pd.pipe` not found.

In [ ]:
"""
WTeamID | Seed_a | LTeamID | Seed_b
1116 | 9 | 1234 | ? 


"""